body{
    font-family: arial;
    margin: 0px;
    background-color: #FFF8F1;
}

header{
    position: sticky;
    top: 0px;
}

/* HEADER */

@media screen and (max-width: 1123px){
    #header-left-hide{
        display: none;
    }
}

@media screen and (max-width: 885px){
    #header-right-container{
        display: none;
    }

    #header-right-container-compress{
        display: block;
    }
}

.header-container{
    background-color: #F8A756;
    height: 50px;
}

.header-left-container{
    width: 33.33%;;
    float: left;
}

.header-left{
    margin-top: 12px;
    float: left;
    padding-left: 30px;
    padding-right: 10px;
    font-size: 22px;
}

.header-left-content:link, .header-left-content:visited{
    color: black;
    text-decoration: none;
}

.header-left-content:hover{
    color: #FFF8F1;
}

.header-logo-container{
    text-align: center;
    width: 33.33%;
    float: left;
}

.header-logo{
    margin-top: -18px;
    height: 80px;
    width: 80px;
}

.header-right-container{
    width: 33.33%;
    float: left;
}

.header-right{
    margin-top: 12px;
    float: right;
    padding-right: 20px;
    font-size: 22px;
}

.header-right-content:link, .header-right-content:visited{
    color: black;
    text-decoration: none;
}

.header-right-content:hover{
    color: #FFF8F1;
}

.header-right-container-compress{
    width: 33.33%;
    float: left;
    display: none;
}

/* FLOATING LINKS */

@media screen and (max-width: 975px){
    #floating-links{
        display: none;
    }

    #main{
        margin-top: 60px;
    }
}

.floating-links-facebook{
    position: sticky;
    top: 0px;
    margin-top: 200px;
    height: 40px;
    width: 40px;
    background-color: blue;
}

.floating-links-instagram{
    position: sticky;
    top: 0px;
    height: 40px;
    width: 40px;
    background-color: pink;
}

.floating-links-youtube{
    position: sticky;
    top: 0px;
    height: 40px;
    width: 40px;
    background-color: red;
}

.floating-links-twitter{
    position: sticky;
    top: 0px;
    height: 40px;
    width: 40px;
    background-color: skyblue;
}

/* MAIN */

main{
    margin-top: -300px;
}

/* Introduction */

@media screen and (max-width: 885px){
    #main-introduction-container{
        width: 450px;
        justify-content: center;
    }

    #main-introduction-name{
        font-size: 35px;
    }

    #main-introduction-line-container{
        margin-right: 0px;
        margin-left: 0px;
    }
}

.main-introduction-container{
    width: 900px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
}

.main-introduction-name-container{
    text-align: center;
}

.main-introduction-name{
    font-size: 63px;
    margin: 0px;
}

.main-introduction-line-container{
    margin-right: 60px;
    margin-left: 30px
}

.main-introduction-line{
    border: 2px solid black;
    border-radius: 10px;
}